<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
    </div>
  </div>
  &nbsp;
  <div class="col-12 col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ movie?.title }} ({{ movie?.release_date | date: 'yyyy'}})
          <a [routerLink] = "['/editar','filme', movie.id]">
            <span class = "btn btn-primary btn-sm float-right">Editar</span>
          </a>
        </h5>        
      </div>  
      <div class="card-body">
        <p class="card-title text-justify"><strong>Sinopse:</strong> {{ movie?.overview }}</p>
        <p><strong>Gêneros:</strong> </p>
        <div class="d-inline-block" *ngFor="let genre of movie?.genres">
            <span class="badge badge-pill badge-primary">{{ genre?.name }}</span>
        </div>
        <br/>  <br/>
        <p><strong>Produtoras:</strong> </p>
        <div class="d-inline-block" *ngFor="let company of movie?.production_companies">
          <img src="https://image.tmdb.org/t/p/w50_and_h50_bestv2{{ company.logo_path }}" class="img-thumbnail"
            alt="">&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>