<div class="row pb-4" *ngIf="movie">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}" alt="">
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ movie.titulo }} ({{ movie.anoLancamento | date: 'yyyy'}})
          <a (click)="goEdit(movie)">
            <span class = "btn btn-primary btn-sm float-right">Editar</span>
          </a>
          <a (click)="goDelete(movie.id, movie.titulo)">
            <span class = "btn btn-primary btn-sm float-right">Deletar</span>
          </a>
        </h5>        
      </div>
      <div class="card-body">
        <p class="card-title text-justify"><strong>Sinopse:</strong> {{ movie.descricao }}</p>
        <p class="card-title text-justify"><strong>Generos:</strong> {{ movie.genero }}</p>
        <p class="card-title text-justify"><strong>País Origem:</strong> {{ movie.paisOrigem }}</p>
        <p class="card-title text-justify"><strong>Ano de Lançamento:</strong> {{ movie.anoLancamento | date: 'yyyy' }}</p>
        <p class="card-title text-justify"><strong>Duração:</strong> {{ movie.duracao }} min</p>
        <p class="card-title text-justify"><strong>Lingua:</strong> {{ movie.lingua }}</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h2 class="mt-4">Elenco</h2>
    <div class="row">
      <div class="col-12 col-md-3" *ngFor="let atuacao of elenco">
          <hub-atuacao-elenco [atuacao]="atuacao"></hub-atuacao-elenco>
      </div>
    </div>  
  </div>
</div>