@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.card  {
        cursor: pointer;
}
.card-header {
    background: transparent;
}

.col-centered {
    float: none;
    margin: 0 auto;

}

body{
    background-color: rgb(238, 196, 255);

}
.btn-group-sm.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-right: 12px;
}

.form-inline label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 10px;
}